<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-toolbar>
      <ion-title color="success">Modifier mot de passe</ion-title>
      <ion-buttons slot="start">
        <ion-back-button color="success"
        defaultHref="/tabs/profil/monprofil"></ion-back-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-toolbar>
</ion-header>
<ion-content padding >
  <div class="contenu">

      <img style="margin:auto;" src="assets/icon/saunyacosmetics.png" alt="">

       <div class="champ">
        <ion-spinner class="spinner"  *ngIf="start=='oui'" text-center name="crescent" color="primary"></ion-spinner>
        <form [formGroup]="registerForm" (ngSubmit)="onSubmit(registerForm.value)">


        <div class="form-group">

          <ion-input
            type="password"
            placeholder="&nbsp;Mot de passe"
            formControlName="password"
            class="form-control"
            [ngClass]="{ 'is-invalid': submitted && f.password.errors }"
          ></ion-input>
          <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
            <div *ngIf="f.password.errors.required">
              Le mot de passe est requis
            </div>
            <div *ngIf="f.password.errors.minlength">
              <h6>
                6 caractères minimum
              </h6>
            </div>
          </div>
        </div>

        <div class="form-group">

          <ion-input
          placeholder="&nbsp;Confirmer le mot de passe"
            type="password"
            formControlName="confirmPassword"
            class="form-control"
            [ngClass]="{ 'is-invalid': submitted && f.confirmPassword.errors }"
          ></ion-input>
          <div
            *ngIf="submitted && f.confirmPassword.errors"
            class="invalid-feedback"
          >
            <div *ngIf="f.confirmPassword.errors.required">
              La confirmation du mot de passe est requis
            </div>
            <div *ngIf="f.confirmPassword.errors.mustMatch">
              Les mots de passe doivent correspondre
            </div>
          </div>
        </div>
          <br/>
          <ion-button type="submit" color="success">
          Modifier le mot de passe
          </ion-button>

           </form>
       </div>


  </div>
</ion-content>
