
h3{
  color:#758589;
  font-weight: bold;
  font-family: sans-serif;
}
ion-label{
  font-weight: bold;
  font-family: sans-serif;
  margin:12px;
  margin-left:0px;
}


.label{

 width: 100%;
}

.catProduit{
  margin-top: -5px;
}
span{
  color:#758589;
  font-weight: bold;
  font-size:small;
  font-family: sans-serif;
}
img{
  padding:2px;
  border-radius: 15px;
}


