<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-toolbar>
      <ion-title color="success">Horaire</ion-title>
      <ion-buttons slot="start">
        <ion-back-button color="success" defaultHref="/tabs/reservation/prestation"></ion-back-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-toolbar>
</ion-header>
<ion-content fullscreen >
    <br/><br/>
    <div class="choix">
      Choisissez votre horaire
    </div>
    <br/>
    <ion-item>
      <p slot="start">09h00</p>
      <ion-label slot="end" class="text">505,00FCFA</ion-label>
    </ion-item>
    <ion-item>
      <p slot="start">09h30</p>
      <ion-label  slot="end" class="text">505,00FCFA</ion-label>
    </ion-item>


  </ion-content>
