

 .choix{
  text-align: center;
  color:#758589;
  font-family: sans-serif;
  padding:12px;
 }

 .text{
  color:#758589;
  font-family: sans-serif;
  font-weight:lighter;
 }
 p{
  color:#758589;
  font-family: sans-serif;
 }
