<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title color="success">Contact</ion-title>
      <ion-buttons slot="start">
        <ion-back-button color="success"
        defaultHref="/tabs/profil/monprofil"></ion-back-button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content padding >
  <div class="contenu">

      <img style="margin:auto;" src="assets/icon/saunyacosmetics.png" alt="">

  </div>
  <br/><br/>

  <ion-list>

    <ion-item>

        <ion-icon slot="start" name="call"></ion-icon>

      <ion-label text-wrap>
        <p>+237690 93 78 34</p>
      </ion-label>
    </ion-item>

    <ion-item>

        <ion-icon slot="start" name="location"></ion-icon>

      <ion-label  text-wrap>
        <p>BP:3554 - Rue Castelnau - Douala</p>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-icon slot="start" name="mail"></ion-icon>
      <ion-label>

        <p>
          info@saunya.com
        </p>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-icon slot="start" name="globe"></ion-icon>
      <ion-label>

        <p>http://www.saunya.com/</p>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-icon slot="start" name="logo-facebook"></ion-icon>
      <ion-label>

        <p>saunyabeauty</p>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-icon slot="start" name="time"></ion-icon>
      <ion-label  text-wrap>
        <p>
          Du lundi au samedi de 09h00 à 19h30
        </p>
      </ion-label>
    </ion-item>
  </ion-list>

</ion-content>
