<ion-header [translucent]="true">
  <ion-toolbar>
      <ion-title color="success">Aide et assistance</ion-title>
      <ion-buttons slot="start">
        <ion-back-button color="success"
        defaultHref="/tabs/profil/monprofil"></ion-back-button>
      </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list>
    <ion-item>
      <ion-icon color="medium" name="stop-outline"></ion-icon>
      <p>&nbsp;Commander</p>

    </ion-item>
    <ion-item (click)="btnFrequente()">
      <ion-icon color="medium"  name="checkmark-done-outline"></ion-icon>
      <p>&nbsp;Les questions les plus fréquentes</p>

    </ion-item>

    <ion-item >
      <ion-icon color="medium" name="stop-outline"></ion-icon>
      <p>&nbsp;Commandes et livraisons</p>
    </ion-item>

    <ion-item>
      <ion-icon color="medium" name="reload-outline"></ion-icon>
      <p>&nbsp;Retours & Remboursements</p>
    </ion-item>
    <ion-item>
      <ion-icon color="medium" name="checkbox-outline"></ion-icon>
      <p>&nbsp;Brexit</p>
    </ion-item>

    <ion-item >
      <ion-icon color="medium" name="cash-outline"></ion-icon>
      <p>&nbsp;Paiement & promotions</p>
    </ion-item>

    <ion-item>
      <ion-icon color="medium" name="person-outline"></ion-icon>
      <p>&nbsp;Gérer mon compte</p>
    </ion-item>

    <ion-item>
      <ion-icon color="medium" name="search-outline"></ion-icon>
      <p>&nbsp;Produits</p>
    </ion-item>

    <ion-item>
      <ion-icon color="medium" name="search-outline"></ion-icon>
      <p>&nbsp;Services</p>
    </ion-item>

    <ion-item>
      <ion-icon color="medium" name="reader-outline"></ion-icon>
      <p>&nbsp;Mentions légales & RGPD</p>
    </ion-item>

    <ion-item>
      <ion-icon color="medium" name="alert-circle-outline"></ion-icon>
      <p>&nbsp;Evaluation de l'application</p>
    </ion-item>

  </ion-list>

</ion-content>



