
input::placeholder {
  color: #9DA8AB;
}

input:focus {
  outline: none;
  color: #08242A;
  padding: 2rem 1rem;
}

input:focus::placeholder {
  color: #758589;
}

input.error {
  color: #F54D3D;
}

input.success {
  color: #28a745;
}

.contenu{
  text-align: center;
  margin-top:20px;
}
.champ{
  padding: 15px;
}
img{
  padding:25px;
}
h6{
  font-size: 14px;
  margin-top:-1px;
}



p{
  padding-top: 15px;
  color:#28a745;
}

ion-button{

  color:white;
}

ion-input{
  border: solid 1px #758589;
  border-radius: 10px;
  text-align: left;
  margin-top:10px;
}

.contenu>img{
  padding:2px;
  border-radius: 15px;
  width: 50%;
  height: 50%;
}

.spinner {


  width: 30%;
  height: 30%;
  position: absolute;

  display: flex;
  justify-content: center;
  align-items: center;

  ion-spinner {
    width: 60px;
    height: 60px;
  }

}
