<!--
  Generated template for the ProfilePage page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-toolbar >
    <ion-buttons slot="end">
      <ion-button (click)="closeModal()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>

</ion-header>

  <ion-content>
    <ion-segment [(ngModel)]="selected">
      <ion-segment-button value="add" (click)="selectedSegment(0)">

        <span>
         LIVRAISON</span>
      </ion-segment-button>

      <ion-segment-button value="lists" (click)="selectedSegment(1)">

        <span>RETOURS</span>
      </ion-segment-button>

    </ion-segment>
    <div  *ngIf="activePage==0">
      <ion-list>
        <ion-list-header class="texte">
         Livraison
        </ion-list-header>
        <ion-item>
          <ion-label class="texte" text-wrap>Livraison standard jusqu'a 7 jours ouvrables</ion-label>
          <p slot="end">500FCFA</p>
        </ion-item>
      </ion-list>
    </div>

    <div  *ngIf="activePage==1">

      <p  class="texte" text-wrap>Nous espèrons que tous vos achats vous satisferont mais si jamais vous avez besoin de retourner un article, vous pouvez le faire dans les 28 jours suivant la réception de votre commande</p>


    </div>


  </ion-content>
