<ion-header [translucent]="true">
  <ion-toolbar>
      <ion-title color="success">Mot de passe oublié</ion-title>
      <ion-buttons slot="start">
        <ion-button color="success" (click)="navService.goBack()">
            <ion-icon name="arrow-back"></ion-icon>
        </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content padding >
  <div class="contenu">

      <img style="margin:auto;" src="assets/icon/saunyacosmetics.png" alt="">

       <div class="champ">
        <ion-spinner class="spinner"  *ngIf="start=='oui'" text-center name="crescent" color="primary"></ion-spinner>

        <ion-input type="text"
        [(ngModel)]="email"
         tabindex="20"
         placeholder="&nbsp;Email"

         >
        </ion-input>

        <p>
          Nous vous enverrons un e-mail afin que vous puissiez réinitialiser votre mot de passe
        </p>


        <ion-button  (click)="resetpwd()" color="success">
          Envoyer
        </ion-button>


       </div>


  </div>
</ion-content>
