ion-list-header{
  margin-top: -12px;
}

h1{
  padding:2px;
  color:#28a745;
  font-weight: bold;
  font-family: sans-serif;
}
h6{
  padding:2px;
  color:#61c779;
  font-weight: bold;
  font-family: sans-serif;
}
p{
  color:#758589;
  font-weight: bold;
  font-family: sans-serif;
}
h3{
  color:#758589;
  font-weight: bold;
  font-family: sans-serif;
}
span{
  color:#758589;
  font-weight: bold;
  font-size:small;
  font-family: sans-serif;
}
ion-label{
  font-weight: bold;
  font-family: sans-serif;
}
img{
  padding:2px;
  border-radius: 15px;
}
