<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-toolbar>
      <ion-title color="success">Détails</ion-title>
      <ion-buttons slot="start">
        <ion-back-button color="success" defaultHref="/tabs/boutique"></ion-back-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-toolbar>
</ion-header>
<ion-content padding >

  <div class="corps">
    <ion-list>
      <ion-list-header  color="primary">

        <ion-label>{{categorie}}</ion-label>
      </ion-list-header>

      <ion-item *ngFor="let unecure of cures">
        <ion-thumbnail slot="start" routerLink='/tabs/boutique/detailcuresfin/{{unecure.id}}'>
          <img [src]="unecure.image">
        </ion-thumbnail>
        <ion-label text-wrap routerLink='/tabs/boutique/detailcuresfin/{{unecure.id}}'>
          <h3>{{unecure.nom}}</h3>
        </ion-label>

        <span slot="end">{{unecure.prix}}&nbsp;{{unecure.devise}}</span>
      </ion-item>

    </ion-list>

  </div>


</ion-content>
