
.contenu{
  text-align: center;
  margin-top:20px;
}

img{
  padding:25px;
}

.contenu>img{
  padding:2px;
  border-radius: 15px;
  width: 50%;
  height: 50%;
}
p{
  font-size: 16px;
  font-weight: bold;
  font-family: sans-serif;
}
ion-icon {
  font-size: 24px;
  color:#758589;
  --ionicon-stroke-width: 16px;
}

ion-label{
  font-weight: bold;
  font-family: sans-serif;
}