
      ion-list {
          margin-top: 2rem!important;
          padding-left: 3rem;
          padding-right: 3rem;
          ion-item {
              border-top: 0!important;
              border-bottom: 0!important;

              ion-label {
                color: gray;
                  ion-icon {
                      font-size: 3rem!important;
                      color:#02660b;
                  }
              }
            .input{
              font-size:16px;
              font-weight: bold;
            }
              ion-input {
                color: gray;
                font-size:18px;
                letter-spacing:1px;
              }
          }

          ion-item .item-inner {
              border-bottom: .1rem solid #dedede!important;
          }
      }

.validation{
  text-align: center;
  font-family: sans-serif;
  font-weight:bold;
      }


