.contenu{
  text-align: center;
  margin-top:60px;
}
.champ{
  padding: 25px;
}
img{
  padding:25px;
}


p{
  padding-top: 15px;
  color:#28a745;
}
.motpasseoublier{
  color: #bddbc4;
}


.contenu>img{
  padding:2px;
  border-radius: 15px;
  width: 50%;
  height: 50%;
}


ion-label{
  font-weight: bold;
  font-family: sans-serif;
}

.text_bienvenue{
  font-weight: bold;
  font-family: sans-serif;
  font-size: larger;
  color:#28a745;
  padding:8px;
}

.text_place{
  font-family: sans-serif;
  font-size:medium;
  color:#28a745;
  padding:8px;
}
.text_select{
  font-family: sans-serif;
  font-weight: bold;
  font-size:large;
  color:#28a745;
  padding:10px;
}

.btnradio{
  font-family: sans-serif;
  font-size:small;
  color:#757776;
}
.mode_livraison{
  position: absolute;
  bottom: 0px;
  width:100%;
  text-align: center;

}
.text_livraison{
  text-align: center;
  font-weight: bold;
  font-family: sans-serif;
  background-color: #2dd36f;
  color:white;
  height: 50px;
  padding:17px;
}
