
input::placeholder {
  color: #9DA8AB;
}

input:focus {
  outline: none;
  color: #08242A;
  padding: 2rem 1rem;
}

input:focus::placeholder {
  color: #758589;
}


input.error {
  color: #F54D3D;
}

input.success {
  color: #28a745;
}


p{
  padding-top: 15px;
  color:#28a745;
}

ion-button{

  color:white;
}

ion-input{
  border: solid 1px #758589;
  border-radius: 10px;
  text-align: left;
  margin-top:10px;


}
ion-textarea{
  border: solid 1px #758589;
  border-radius: 10px;
  text-align: left;
  margin-top:10px;
}
.icon{
  margin-left:0px;
 }
 del{
   font-weight:normal;
   font-family: sans-serif;
 }

 p{
   font-family: sans-serif;
   font-size: 15px;
 }


 span{
   color:#758589;
   font-weight: bold;
   font-size:small;
   font-family: sans-serif;
 }
 h3{
   color:#758589;
   font-weight: bold;
   font-family: sans-serif;
 }

 .mode_livraison{
   position: absolute;
   bottom: 0px;
   width:100%;
   text-align: center;

 }
 .text_livraison{
   text-align: center;
   font-weight: bold;
   font-family: sans-serif;
   background-color: #2dd36f;
   color:white;
   height: 50px;
   padding:17px;
 }

 b{
   font-weight: bold;
   font-size: 17px;
 }

.fond{
  font-size: 18px;
  font-weight: bold;
  font-family: sans-serif;
  color:#758589;
}
ion-icon {
  font-size: 24px;
  color:#758589;
  --ionicon-stroke-width: 16px;
}


 .name{width:100%;height:auto;display:flex;}
 .adresse{width:100%;height:auto;display:flex;}

.valeur{
  color: #758589;
  font-family: sans-serif;
  padding-top:24px;
}


  .card-title {
    font-weight: bold;
    top: 10%;
    font-size: 1.1em;
    width: 100%;
    color: #fff;
    padding: 5px;
  }

  .card-subtitle {
    font-size: 0.8em;
    padding: 5px;
    top: 80%;
    width: 100%;
    color: #fff;
  }
  .cardhaut{
    width: 60% !important;
    height: 25% !important;
    border-radius: 15px !important;;
    margin:auto;
 }

 .champ{
  padding: 5px;
}

.cardhaut {
  display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding:10px;
}

img{
  width: 200px !important;
  height: 101px !important;
  padding:5px;
}









