<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-toolbar>
      <ion-title color="success">Questions</ion-title>
      <ion-buttons slot="start">
        <ion-back-button color="success"
        defaultHref="/tabs/profil/assistance"></ion-back-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-toolbar>
</ion-header>

<ion-content>

  <app-accordian title="Où est ma commande">
    <p>
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sed velit iure,
      ea officia numquam provident suscipit, eius quis, fugit rem modi minus.
      Nemo fuga nesciunt a non? Ut, vero veritatis?
    </p>
  </app-accordian>
  <app-accordian title="Pourquoi ma commande est-elle en retard?">
    <p>
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sed velit iure,
      ea officia numquam provident suscipit, eius quis, fugit rem modi minus.
      Nemo fuga nesciunt a non? Ut, vero veritatis?
    </p>
  </app-accordian>
  <app-accordian title="Puis-je annuler ou modifier ma commande?">
    <p>
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sed velit iure,
      ea officia numquam provident suscipit, eius quis, fugit rem modi minus.
      Nemo fuga nesciunt a non? Ut, vero veritatis?
    </p>
  </app-accordian>

  <app-accordian title="J'ai reçu un article défectueux, que puis-je faire?">
    <p>
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sed velit iure,
      ea officia numquam provident suscipit, eius quis, fugit rem modi minus.
      Nemo fuga nesciunt a non? Ut, vero veritatis?
    </p>
  </app-accordian>

  <app-accordian title="Comment retourner ma commande?">
    <p>
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sed velit iure,
      ea officia numquam provident suscipit, eius quis, fugit rem modi minus.
      Nemo fuga nesciunt a non? Ut, vero veritatis?
    </p>
  </app-accordian>

</ion-content>




