ion-list {
  background: none;
  margin: 0;
  padding-top: 15px;
  --animate-duration: .2s;

  ion-item {
      --inner-padding-end: 0px;
      --inner-min-height: unset !important;
      --min-height: unset !important;
      --padding-start: 0;
      --background: var(--transparent) !important;
      width: calc(100% - 40px);
      margin: 0 auto;
      margin-bottom: 35px;

      .item_inner {
          width: 100%;

          .img_box {
              min-width: 70px;
              height: 70px;
              border-radius: 12px;
              margin-right: 15px;
          }

          .text_box {
              width: 100%;
              overflow: hidden;

              h3 {
                  margin: 0;
                  color: var(--text-black);
                  margin: 0;
                  color: var(--text-black);
                  font-size: .86rem;
                  padding-bottom: 6px;

                  .rating {
                      display: flex;
                      align-items: center;

                      ion-icon {
                          display: block;
                          color: var(--text-light);
                          font-size: 1rem;
                          min-width: 20px;
                          opacity: .5;

                          &.active {
                              color: var(--yelow_color);
                              opacity: 1;
                          }
                      }
                  }
              }

              h2 {
                  margin: 0;
                  margin-bottom: 4px;
                  color: var(--text-black);
                  padding: 0;
                  font-size: 1.3rem;
                  font-weight: 600;
                  text-overflow: ellipsis;
                  overflow: hidden;
                  white-space: nowrap;

              }

              h4 {
                  color: var(--text-light);
                  margin: 0;
                  font-weight: 400;
                  font-size: .75rem;

                  span {
                      text-overflow: ellipsis;
                      overflow: hidden;
                      white-space: nowrap;
                  }

                  ion-icon {
                      font-size: .9rem;
                      min-width: 20px;
                      display: block;
                  }
              }
          }
      }

      &.animate__animated.animate__fadeInUp {
          &:nth-child(1) {
              --animate-duration: .15s;
          }

          &:nth-child(2) {
              --animate-duration: .2s;
          }

          &:nth-child(3) {
              --animate-duration: .25s;
          }

          &:nth-child(4) {
              --animate-duration: .3s;
          }

          &:nth-child(5) {
              --animate-duration: .35s;
          }

          &:nth-child(6) {
              --animate-duration: .4s;
          }

          &:nth-child(7) {
              --animate-duration: .45s;
          }

          &:nth-child(8) {
              --animate-duration: .5s;
          }

          &:nth-child(9) {
              --animate-duration: .55s;
          }

          &:nth-child(10) {
              --animate-duration: .6s;
          }

          &:nth-child(11) {
              --animate-duration: .65s;
          }

          &:nth-child(12) {
              --animate-duration: .7s;
          }

          &:nth-child(13) {
              --animate-duration: .5s;
          }

          &:nth-child(14) {
              --animate-duration: .5s;
          }

          &:nth-child(15) {
              --animate-duration: .5s;
          }
      }
  }

  .appointment_info {
      width: 100%;

      ion-item {
          .item_inner {
              h3 {
                  margin: 0;
                  color: var(--text-light);
                  text-transform: uppercase;
                  font-size: 1rem;
                  letter-spacing: 1.2px;
                  padding-bottom: 8px;
              }

              h2 {
                  margin: 0;
                  color: var(--text-black);
                  padding: 0;
                  font-size: 1.2rem;
                  font-weight: 600;

                  span {
                      color: var(--primary);
                      font-weight: 500;
                      font-size: .95rem;
                      letter-spacing: .3px;
                      min-width: fit-content;
                  }
              }

              .services {
                  width: 100%;

                  .service {
                      padding: 10px 0;
                      width: 100%;

                      &:first-child {
                          padding-top: 0;
                      }

                      h2 {
                          padding-bottom: 4px;

                          span {
                              color: var(--text-black);
                              font-size: 1.2rem;
                              font-weight: 700;
                          }
                      }

                      h4 {
                          color: var(--text-light);
                          margin: 0;
                          font-weight: 400;
                          font-size: 0.8rem;
                      }
                  }
              }
          }
      }
  }
}

ion-footer {
  background: var(--white);

  .services_fee {
      width: calc(100% - 40px);
      margin: 0 auto;
      border-top: 1px solid var(--bg-color);
      padding-top: 11px;

      h2 {
          margin: 0;
          margin-bottom: 4px;
          color: var(--text-black);
          padding: 0;
          font-size: 1.2rem;
          font-weight: 600;
          padding-bottom: 11px;

          span {
              min-width: fit-content;
          }
      }
  }

  .total {
      padding: 10px 20px;
      background: var(--bg-color);

      h2 {
          margin: 0;
          min-width: fit-content;
          display: flex;
          align-items: center;
          color: var(--text-black);
          font-size: 1rem;
          font-weight: 700;

          small {
              color: var(--text-light);
              font-weight: 400;
              font-size: 0.8rem;
              display: block;
          }
      }

      .button.btn.button-outline {
          width: fit-content;
          min-width: fit-content;
          --background: var(--white);
          font-size: .95rem;
          font-weight: 500;
          height: 44px;
          --padding-start: 15px;
          --padding-end: 16px;
          --animate-duration: .25s;
      }
  }
}
