ion-button{
  color:white;
  font-weight: bold;
  font-family: sans-serif;
}

img{
width: 100%;

}

h2{
  color:#758589;
  font-weight: bold;
  font-family: sans-serif;
  font-size: 15px;
  padding: 2px;
}

.card{
  margin-top: -12px;
}

.prix{
  color:#758589;
  font-weight: bold;
  font-size:large;
  font-family: sans-serif;
}
section{
  margin-top:-15px;
}
span{
  background-color:green;
  color:white;
}
.description{
  color:#758589;
  font-weight: bold;
  font-family: sans-serif;
  font-size: 15px;
  padding: 10px;
}
del{
  font-weight:normal;
  font-family: sans-serif;
}
p{
  font-weight: lighter;
}



