

.nom{
  font-weight: bold;
  color: #042417;
}

img{
  width: 120px;
  height: 55px;

}
.voirprofil{
  color: #9DA8AB;
}
p{
  color:#758589;
  font-weight: normal;
  font-family: sans-serif;
}

ion-card {
  margin: -1px 1px;
}

.contenu{
  text-align: center;
  margin-top:5px;
}
