
<ion-header [translucent]="true">
  <ion-toolbar  class="bg_transparent">
    <ion-toolbar>
      <ion-title color="success">Banque</ion-title>
      <ion-buttons slot="start">
        <ion-back-button color="success"
        defaultHref="/tabs/profil/mywallet"></ion-back-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-toolbar>
  <div class="banner">
    <h2>Montant disponible</h2>
    <h1>268.50FCFA</h1>
</div>
</ion-header>
<ion-content>
  <div class="form">
      <ion-list lines="none">

        <ion-item lines="none" class="animate__animated animate__fadeInUp">
              <div class="item_inner d-flex">
                  <div class="input_box">
                      <ion-label mode="md" position="stacked">Nom du compte</ion-label>
                      <ion-input mode="md" type="text" value="Samantha Smith"></ion-input>
                  </div>
              </div>
          </ion-item>


        <ion-item lines="none" class="animate__animated animate__fadeInUp">
              <div class="item_inner d-flex">
                  <div class="input_box">
                      <ion-label mode="md" position="stacked">Nom de la banque</ion-label>
                      <ion-input mode="md" type="text" value="UBA Cameroun"></ion-input>
                  </div>
              </div>
          </ion-item>

        <ion-item lines="none" class="animate__animated animate__fadeInUp">
              <div class="item_inner d-flex">
                  <div class="input_box">
                      <ion-label mode="md" position="stacked">Branche</ion-label>
                      <ion-input mode="md" type="text" value="+237 687 654 321"></ion-input>
                  </div>
              </div>
          </ion-item>

        <ion-item lines="none" class="animate__animated animate__fadeInUp">
              <div class="item_inner d-flex">
                  <div class="input_box">
                      <ion-label mode="md" position="stacked">Numéro de compte</ion-label>
                      <ion-input mode="md" type="text" value="4321 4567 6789 8901"></ion-input>
                  </div>
              </div>
          </ion-item>

        <ion-item lines="none" class="animate__animated animate__fadeInUp">
              <div class="item_inner d-flex">
                  <div class="input_box">
                      <ion-label mode="md" position="stacked">Entrer le montant à transferer</ion-label>
                      <ion-input mode="md" type="text" value="50000FCFA"></ion-input>
                  </div>
              </div>
          </ion-item>

      </ion-list>
  </div>
</ion-content>

<ion-footer class="ion-no-border">
  <ion-button size="large" expand="full" class="btn">Envoyer</ion-button>
</ion-footer>
