ion-header {
  background: var(--bg-color);
  padding-bottom: 30px;

  .banner {
      position: relative;
      z-index: 99;
      padding: 0 20px;

      h2 {
          margin: 0;
          font-size: 1rem;
          font-weight: 500;
          padding-bottom: 4px;
          color: var(--text-light);
          letter-spacing: .5px;
      }

      h1 {
          margin: 0;
          font-weight: 600;
          font-size: 2.2rem;
          color: var(--text-black);
          letter-spacing: 0;
      }
  }
}

.form {
  padding-top: 45px;

  ion-item {
      margin-bottom: 35px;
  }
}



.animate__animated.animate__fadeInUp {
  &:nth-child(1) {
      --animate-duration: .15s;
  }

  &:nth-child(2) {
      --animate-duration: .2s;
  }

  &:nth-child(3) {
      --animate-duration: .25s;
  }

  &:nth-child(4) {
      --animate-duration: .3s;
  }

  &:nth-child(5) {
      --animate-duration: .35s;
  }

  &:nth-child(6) {
      --animate-duration: .4s;
  }

  &:nth-child(7) {
      --animate-duration: .45s;
  }

  &:nth-child(8) {
      --animate-duration: .5s;
  }

}
