.icon{
  margin-left:0px;
 }
 del{
   font-weight:normal;
   font-family: sans-serif;
 }
 ion-label{
   color:#758589;
   font-weight: bold;
   font-family: sans-serif;
 }
 .btnradio{
  font-size: 14px;
  font-weight:lighter;
  font-family: sans-serif;
  color:#758589;
}
.text{
  color:#758589;
  font-weight: bold;
  font-family: sans-serif;
}
 .articles{
   margin-top: -10px;
 }
 p{
   font-family: sans-serif;
   font-size: 15px;
 }
 
 img{
   padding:2px;
   border-radius: 15px;
 }
 
 span{
   color:#758589;
   font-weight: bold;
   font-size:small;
   font-family: sans-serif;
 }
 .professionnel{
  color:#758589;
  font-weight: bold;
  font-size:small;
  font-family: sans-serif;
 }
 .ajouter{
   background-color:#28a745;
   color:white;
    padding:10px;
 }
 h3{
   color:#758589;
   font-weight: bold;
   font-family: sans-serif;
 }
 
 .mode_livraison{
   position: absolute;
   bottom: 0px;
   width:100%;
   text-align: center;
 
 }
 .text_livraison{
   text-align: center;
   font-weight: bold;
   font-family: sans-serif;
   background-color: #2dd36f;
   color:white;
   height: 50px;
   padding:17px;
 }
 
 .montant{
   padding-left:40%;
   color:#758589;
   font-family: sans-serif;
 }
 b{
   font-weight: bold;
   font-size: 17px;
 }
 