<ion-header [translucent]="true">

  <ion-toolbar >
    <ion-buttons slot="start">
      <ion-button color="success">
        <ion-label>Accueil</ion-label>
      </ion-button>
    </ion-buttons>
    <!--<ion-buttons *ngIf="toggled===false" slot="end">
      <ion-button icon-only (click)="toggleSearchbar()">
        <ion-icon color="success" name="search"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-searchbar color="success"
    *ngIf="toggled===true"
    [showCancelButton]="true"
    (ionInput)="onInput($event)"
    (ionCancel)="onCancel($event)"
    ></ion-searchbar>-->
  </ion-toolbar>
</ion-header>
<ion-content  >
  <ion-card >
    <img src="assets/image/home/promo30.gif"/>

  </ion-card>

  <ion-card>
    <img src="assets/image/home/produitsweb.jpg"/>

  </ion-card>

  <ion-card>
    <img src="assets/image/home/services.jpg"/>

  </ion-card>

  <ion-card>
    <img src="assets/image/home/peaux.jpg"/>
  </ion-card>
  <ion-card>
    <img src="assets/image/home/promobijoux.jpg"/>
  </ion-card>
  <ion-card>
    <img src="assets/image/home/cheuveux.jpg"/>
  </ion-card>
</ion-content>
